div.DnnModule:hover{ border-bottom:0px #fff solid;}
h1.breader{ color:#fff; padding:30px 0 10px 0; font-size:36px;}
h2.cheader{ padding:10px 0;}
.visi{ float:right; padding:10px}
.c_footer{ clear:both}
.cwhitecolor .Normal{ color:#fff}
