.btn.btn-primary, a.btn.btn-primary {
  background-image: none;
  background-color: #0D799C;
  border: 1px solid #0D799C;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  color: white;
  border-radius: 3px; }
  .btn.btn-primary:focus, .btn.btn-primary.focus, .btn.btn-primary:hover, a.btn.btn-primary:focus, a.btn.btn-primary.focus, a.btn.btn-primary:hover {
    color: #FEF4D3;
    background-color: #005371;
    border-color: #005371 !important; }
  .btn.btn-primary:active, .btn.btn-primary.active,
  .open > .btn.btn-primary.dropdown-toggle, a.btn.btn-primary:active, a.btn.btn-primary.active,
  .open > a.btn.btn-primary.dropdown-toggle {
    color: #FEF4D3;
    background-color: #005371;
    border-color: #005371 !important; }
    .btn.btn-primary:active:hover, .btn.btn-primary:active:focus, .btn.btn-primary:active.focus, .btn.btn-primary.active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active.focus,
    .open > .btn.btn-primary.dropdown-toggle:hover,
    .open > .btn.btn-primary.dropdown-toggle:focus,
    .open > .btn.btn-primary.dropdown-toggle.focus, a.btn.btn-primary:active:hover, a.btn.btn-primary:active:focus, a.btn.btn-primary:active.focus, a.btn.btn-primary.active:hover, a.btn.btn-primary.active:focus, a.btn.btn-primary.active.focus,
    .open > a.btn.btn-primary.dropdown-toggle:hover,
    .open > a.btn.btn-primary.dropdown-toggle:focus,
    .open > a.btn.btn-primary.dropdown-toggle.focus {
      color: #FEF4D3;
      background-color: #005371;
      border-color: #005371 !important; }
  .btn.btn-primary:active, .btn.btn-primary.active,
  .open > .btn.btn-primary.dropdown-toggle, a.btn.btn-primary:active, a.btn.btn-primary.active,
  .open > a.btn.btn-primary.dropdown-toggle {
    background-image: none; }
  .btn.btn-primary.disabled, .btn.btn-primary.disabled:hover, .btn.btn-primary.disabled:focus, .btn.btn-primary.disabled.focus, .btn.btn-primary.disabled:active, .btn.btn-primary.disabled.active, .btn.btn-primary[disabled], .btn.btn-primary[disabled]:hover, .btn.btn-primary[disabled]:focus, .btn.btn-primary[disabled].focus, .btn.btn-primary[disabled]:active, .btn.btn-primary[disabled].active,
  fieldset[disabled] .btn.btn-primary,
  fieldset[disabled] .btn.btn-primary:hover,
  fieldset[disabled] .btn.btn-primary:focus,
  fieldset[disabled] .btn.btn-primary.focus,
  fieldset[disabled] .btn.btn-primary:active,
  fieldset[disabled] .btn.btn-primary.active, a.btn.btn-primary.disabled, a.btn.btn-primary.disabled:hover, a.btn.btn-primary.disabled:focus, a.btn.btn-primary.disabled.focus, a.btn.btn-primary.disabled:active, a.btn.btn-primary.disabled.active, a.btn.btn-primary[disabled], a.btn.btn-primary[disabled]:hover, a.btn.btn-primary[disabled]:focus, a.btn.btn-primary[disabled].focus, a.btn.btn-primary[disabled]:active, a.btn.btn-primary[disabled].active,
  fieldset[disabled] a.btn.btn-primary,
  fieldset[disabled] a.btn.btn-primary:hover,
  fieldset[disabled] a.btn.btn-primary:focus,
  fieldset[disabled] a.btn.btn-primary.focus,
  fieldset[disabled] a.btn.btn-primary:active,
  fieldset[disabled] a.btn.btn-primary.active {
    background-color: #0D799C;
    border-color: #0D799C !important; }
  .btn.btn-primary .badge, a.btn.btn-primary .badge {
    color: white;
    background-color: #0D799C; }

.btn.btn-orange {
  background-image: none;
  background-color: #F37021;
  border: 1px solid #F37021;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  color: white !important;
  font-family: ProximaNova-Semibold, arial, sans-sarif;
  font-weight: normal;
  font-style: normal; }
  .btn.btn-orange:visited {
    color: white !important; }
  .btn.btn-orange:focus, .btn.btn-orange.focus {
    color: white !important;
    background-color: #d5580c;
    border-color: #8d3a08;
    outline: none; }
  .btn.btn-orange:hover {
    color: white !important;
    background-color: #d5580c;
    border-color: #cc540b !important;
    outline: none; }
  .btn.btn-orange:active, .btn.btn-orange.active,
  .open > .btn.btn-orange.dropdown-toggle {
    color: white !important;
    background-color: #d5580c;
    border-color: #cc540b;
    outline: none; }
    .btn.btn-orange:active:hover, .btn.btn-orange:active:focus, .btn.btn-orange:active.focus, .btn.btn-orange.active:hover, .btn.btn-orange.active:focus, .btn.btn-orange.active.focus,
    .open > .btn.btn-orange.dropdown-toggle:hover,
    .open > .btn.btn-orange.dropdown-toggle:focus,
    .open > .btn.btn-orange.dropdown-toggle.focus {
      color: white !important;
      background-color: #b44a0a;
      border-color: #8d3a08;
      outline: none; }
  .btn.btn-orange:active, .btn.btn-orange.active,
  .open > .btn.btn-orange.dropdown-toggle {
    background-image: none; }
  .btn.btn-orange.disabled, .btn.btn-orange.disabled:hover, .btn.btn-orange.disabled:focus, .btn.btn-orange.disabled.focus, .btn.btn-orange.disabled:active, .btn.btn-orange.disabled.active, .btn.btn-orange[disabled], .btn.btn-orange[disabled]:hover, .btn.btn-orange[disabled]:focus, .btn.btn-orange[disabled].focus, .btn.btn-orange[disabled]:active, .btn.btn-orange[disabled].active,
  fieldset[disabled] .btn.btn-orange,
  fieldset[disabled] .btn.btn-orange:hover,
  fieldset[disabled] .btn.btn-orange:focus,
  fieldset[disabled] .btn.btn-orange.focus,
  fieldset[disabled] .btn.btn-orange:active,
  fieldset[disabled] .btn.btn-orange.active {
    background-color: #F37021;
    border-color: #F37021; }
  .btn.btn-orange .badge {
    color: #F37021;
    background-color: white; }

.btn.btn-warning {
  background-image: none;
  background-color: #ffaa05;
  border: 1px solid #ffaa05;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  color: #ffffff;
  border-radius: 3px;
  font-family: ProximaNova-Semibold, arial, sans-sarif;
  font-weight: normal;
  font-style: normal; }
  .btn.btn-warning:focus, .btn.btn-warning.focus, .btn.btn-warning:hover {
    color: #ffffff;
    background-color: #ffc900;
    border-color: #ffc900 !important; }
  .btn.btn-warning:active, .btn.btn-warning.active,
  .open > .btn.btn-warning.dropdown-toggle {
    color: #ffffff;
    background-color: #e2a23a;
    border-color: #e2a23a !important; }
    .btn.btn-warning:active:hover, .btn.btn-warning:active:focus, .btn.btn-warning:active.focus, .btn.btn-warning.active:hover, .btn.btn-warning.active:focus, .btn.btn-warning.active.focus,
    .open > .btn.btn-warning.dropdown-toggle:hover,
    .open > .btn.btn-warning.dropdown-toggle:focus,
    .open > .btn.btn-warning.dropdown-toggle.focus {
      color: #ffffff;
      background-color: #e2a23a;
      border-color: #e2a23a !important; }
  .btn.btn-warning:active, .btn.btn-warning.active,
  .open > .btn.btn-warning.dropdown-toggle {
    background-image: none; }
  .btn.btn-warning.disabled, .btn.btn-warning.disabled:hover, .btn.btn-warning.disabled:focus, .btn.btn-warning.disabled.focus, .btn.btn-warning.disabled:active, .btn.btn-warning.disabled.active, .btn.btn-warning[disabled], .btn.btn-warning[disabled]:hover, .btn.btn-warning[disabled]:focus, .btn.btn-warning[disabled].focus, .btn.btn-warning[disabled]:active, .btn.btn-warning[disabled].active,
  fieldset[disabled] .btn.btn-warning,
  fieldset[disabled] .btn.btn-warning:hover,
  fieldset[disabled] .btn.btn-warning:focus,
  fieldset[disabled] .btn.btn-warning.focus,
  fieldset[disabled] .btn.btn-warning:active,
  fieldset[disabled] .btn.btn-warning.active {
    background-color: #ffaa05;
    border-color: #ffaa05 !important; }
  .btn.btn-warning .badge {
    color: #ffffff;
    background-color: #ffaa05; }

.btn.btn-danger {
  background-image: none;
  background-color: #d9534f;
  border: 1px solid #d43f3a;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  color: #fff !important;
  font-family: ProximaNova-Semibold, arial, sans-sarif;
  font-weight: normal;
  font-style: normal; }
  .btn.btn-danger:visited {
    color: #fff !important; }
  .btn.btn-danger:focus, .btn.btn-danger.focus {
    color: #fff !important;
    background-color: #c9302c;
    border-color: #761c19;
    outline: none; }
  .btn.btn-danger:hover {
    color: #fff !important;
    background-color: #c9302c;
    border-color: #ac2925 !important;
    outline: none; }
  .btn.btn-danger:active, .btn.btn-danger.active,
  .open > .btn.btn-danger.dropdown-toggle {
    color: #fff !important;
    background-color: #c9302c;
    border-color: #ac2925;
    outline: none; }
    .btn.btn-danger:active:hover, .btn.btn-danger:active:focus, .btn.btn-danger:active.focus, .btn.btn-danger.active:hover, .btn.btn-danger.active:focus, .btn.btn-danger.active.focus,
    .open > .btn.btn-danger.dropdown-toggle:hover,
    .open > .btn.btn-danger.dropdown-toggle:focus,
    .open > .btn.btn-danger.dropdown-toggle.focus {
      color: #fff !important;
      background-color: #ac2925;
      border-color: #761c19;
      outline: none; }
  .btn.btn-danger:active, .btn.btn-danger.active,
  .open > .btn.btn-danger.dropdown-toggle {
    background-image: none; }
  .btn.btn-danger.disabled, .btn.btn-danger.disabled:hover, .btn.btn-danger.disabled:focus, .btn.btn-danger.disabled.focus, .btn.btn-danger.disabled:active, .btn.btn-danger.disabled.active, .btn.btn-danger[disabled], .btn.btn-danger[disabled]:hover, .btn.btn-danger[disabled]:focus, .btn.btn-danger[disabled].focus, .btn.btn-danger[disabled]:active, .btn.btn-danger[disabled].active,
  fieldset[disabled] .btn.btn-danger,
  fieldset[disabled] .btn.btn-danger:hover,
  fieldset[disabled] .btn.btn-danger:focus,
  fieldset[disabled] .btn.btn-danger.focus,
  fieldset[disabled] .btn.btn-danger:active,
  fieldset[disabled] .btn.btn-danger.active {
    background-color: #d9534f;
    border-color: #d43f3a; }
  .btn.btn-danger .badge {
    color: #d9534f;
    background-color: #fff; }

.btn.orange-and-hover {
  background-image: none;
  background-color: #F5A623;
  border: 1px solid #F5A623;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  color: white !important;
  border-radius: 3px;
  font-family: ProximaNova-Semibold, arial, sans-sarif;
  font-weight: normal;
  font-style: normal; }
  .btn.orange-and-hover:focus, .btn.orange-and-hover.focus, .btn.orange-and-hover:hover {
    color: white;
    background-color: #B98022;
    border-color: #B98022 !important; }
  .btn.orange-and-hover:active, .btn.orange-and-hover.active,
  .open > .btn.orange-and-hover.dropdown-toggle {
    color: white;
    background-color: #B98022;
    border-color: #B98022 !important; }
    .btn.orange-and-hover:active:hover, .btn.orange-and-hover:active:focus, .btn.orange-and-hover:active.focus, .btn.orange-and-hover.active:hover, .btn.orange-and-hover.active:focus, .btn.orange-and-hover.active.focus,
    .open > .btn.orange-and-hover.dropdown-toggle:hover,
    .open > .btn.orange-and-hover.dropdown-toggle:focus,
    .open > .btn.orange-and-hover.dropdown-toggle.focus {
      color: white;
      background-color: #B98022;
      border-color: #B98022 !important; }
  .btn.orange-and-hover:active, .btn.orange-and-hover.active,
  .open > .btn.orange-and-hover.dropdown-toggle {
    background-image: none; }
  .btn.orange-and-hover.disabled, .btn.orange-and-hover.disabled:hover, .btn.orange-and-hover.disabled:focus, .btn.orange-and-hover.disabled.focus, .btn.orange-and-hover.disabled:active, .btn.orange-and-hover.disabled.active, .btn.orange-and-hover[disabled], .btn.orange-and-hover[disabled]:hover, .btn.orange-and-hover[disabled]:focus, .btn.orange-and-hover[disabled].focus, .btn.orange-and-hover[disabled]:active, .btn.orange-and-hover[disabled].active,
  fieldset[disabled] .btn.orange-and-hover,
  fieldset[disabled] .btn.orange-and-hover:hover,
  fieldset[disabled] .btn.orange-and-hover:focus,
  fieldset[disabled] .btn.orange-and-hover.focus,
  fieldset[disabled] .btn.orange-and-hover:active,
  fieldset[disabled] .btn.orange-and-hover.active {
    background-color: #F5A623;
    border-color: #F5A623 !important; }
  .btn.orange-and-hover .badge {
    color: white !important;
    background-color: #F5A623; }

.btn.btn-orange-outline {
  background-image: none;
  background-color: white;
  border: 1px solid #F37021;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  color: #F37021 !important;
  font-family: ProximaNova-Semibold, arial, sans-sarif;
  font-weight: normal;
  font-style: normal; }
  .btn.btn-orange-outline:visited {
    color: #F37021 !important; }
  .btn.btn-orange-outline:focus, .btn.btn-orange-outline.focus {
    color: #F37021 !important;
    background-color: #e6e6e6;
    border-color: #8d3a08;
    outline: none; }
  .btn.btn-orange-outline:hover {
    color: #F37021 !important;
    background-color: #e6e6e6;
    border-color: #cc540b !important;
    outline: none; }
  .btn.btn-orange-outline:active, .btn.btn-orange-outline.active,
  .open > .btn.btn-orange-outline.dropdown-toggle {
    color: #F37021 !important;
    background-color: #e6e6e6;
    border-color: #cc540b;
    outline: none; }
    .btn.btn-orange-outline:active:hover, .btn.btn-orange-outline:active:focus, .btn.btn-orange-outline:active.focus, .btn.btn-orange-outline.active:hover, .btn.btn-orange-outline.active:focus, .btn.btn-orange-outline.active.focus,
    .open > .btn.btn-orange-outline.dropdown-toggle:hover,
    .open > .btn.btn-orange-outline.dropdown-toggle:focus,
    .open > .btn.btn-orange-outline.dropdown-toggle.focus {
      color: #F37021 !important;
      background-color: #d4d4d4;
      border-color: #8d3a08;
      outline: none; }
  .btn.btn-orange-outline:active, .btn.btn-orange-outline.active,
  .open > .btn.btn-orange-outline.dropdown-toggle {
    background-image: none; }
  .btn.btn-orange-outline.disabled, .btn.btn-orange-outline.disabled:hover, .btn.btn-orange-outline.disabled:focus, .btn.btn-orange-outline.disabled.focus, .btn.btn-orange-outline.disabled:active, .btn.btn-orange-outline.disabled.active, .btn.btn-orange-outline[disabled], .btn.btn-orange-outline[disabled]:hover, .btn.btn-orange-outline[disabled]:focus, .btn.btn-orange-outline[disabled].focus, .btn.btn-orange-outline[disabled]:active, .btn.btn-orange-outline[disabled].active,
  fieldset[disabled] .btn.btn-orange-outline,
  fieldset[disabled] .btn.btn-orange-outline:hover,
  fieldset[disabled] .btn.btn-orange-outline:focus,
  fieldset[disabled] .btn.btn-orange-outline.focus,
  fieldset[disabled] .btn.btn-orange-outline:active,
  fieldset[disabled] .btn.btn-orange-outline.active {
    background-color: white;
    border-color: #F37021; }
  .btn.btn-orange-outline .badge {
    color: white;
    background-color: #F37021; }

.btn.btn-green {
  background-image: none;
  background-color: #739434;
  border: 1px solid #739434;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  color: white !important;
  font-family: ProximaNova-Semibold, arial, sans-sarif;
  font-weight: normal;
  font-style: normal; }
  .btn.btn-green:visited {
    color: white !important; }
  .btn.btn-green:focus, .btn.btn-green.focus {
    color: white !important;
    background-color: #566e27;
    border-color: #2a3613;
    outline: none; }
  .btn.btn-green:hover {
    color: white !important;
    background-color: #566e27;
    border-color: #506724 !important;
    outline: none; }
  .btn.btn-green:active, .btn.btn-green.active,
  .open > .btn.btn-green.dropdown-toggle {
    color: white !important;
    background-color: #566e27;
    border-color: #506724;
    outline: none; }
    .btn.btn-green:active:hover, .btn.btn-green:active:focus, .btn.btn-green:active.focus, .btn.btn-green.active:hover, .btn.btn-green.active:focus, .btn.btn-green.active.focus,
    .open > .btn.btn-green.dropdown-toggle:hover,
    .open > .btn.btn-green.dropdown-toggle:focus,
    .open > .btn.btn-green.dropdown-toggle.focus {
      color: white !important;
      background-color: #41541d;
      border-color: #2a3613;
      outline: none; }
  .btn.btn-green:active, .btn.btn-green.active,
  .open > .btn.btn-green.dropdown-toggle {
    background-image: none; }
  .btn.btn-green.disabled, .btn.btn-green.disabled:hover, .btn.btn-green.disabled:focus, .btn.btn-green.disabled.focus, .btn.btn-green.disabled:active, .btn.btn-green.disabled.active, .btn.btn-green[disabled], .btn.btn-green[disabled]:hover, .btn.btn-green[disabled]:focus, .btn.btn-green[disabled].focus, .btn.btn-green[disabled]:active, .btn.btn-green[disabled].active,
  fieldset[disabled] .btn.btn-green,
  fieldset[disabled] .btn.btn-green:hover,
  fieldset[disabled] .btn.btn-green:focus,
  fieldset[disabled] .btn.btn-green.focus,
  fieldset[disabled] .btn.btn-green:active,
  fieldset[disabled] .btn.btn-green.active {
    background-color: #739434;
    border-color: #739434; }
  .btn.btn-green .badge {
    color: #739434;
    background-color: white; }

.btn.btn-green-outline {
  background-image: none;
  background-color: white;
  border: 1px solid #739434;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  color: #739434 !important;
  font-family: ProximaNova-Semibold, arial, sans-sarif;
  font-weight: normal;
  font-style: normal; }
  .btn.btn-green-outline:visited {
    color: #739434 !important; }
  .btn.btn-green-outline:focus, .btn.btn-green-outline.focus {
    color: #739434 !important;
    background-color: #e6e6e6;
    border-color: #2a3613;
    outline: none; }
  .btn.btn-green-outline:hover {
    color: #739434 !important;
    background-color: #e6e6e6;
    border-color: #506724 !important;
    outline: none; }
  .btn.btn-green-outline:active, .btn.btn-green-outline.active,
  .open > .btn.btn-green-outline.dropdown-toggle {
    color: #739434 !important;
    background-color: #e6e6e6;
    border-color: #506724;
    outline: none; }
    .btn.btn-green-outline:active:hover, .btn.btn-green-outline:active:focus, .btn.btn-green-outline:active.focus, .btn.btn-green-outline.active:hover, .btn.btn-green-outline.active:focus, .btn.btn-green-outline.active.focus,
    .open > .btn.btn-green-outline.dropdown-toggle:hover,
    .open > .btn.btn-green-outline.dropdown-toggle:focus,
    .open > .btn.btn-green-outline.dropdown-toggle.focus {
      color: #739434 !important;
      background-color: #d4d4d4;
      border-color: #2a3613;
      outline: none; }
  .btn.btn-green-outline:active, .btn.btn-green-outline.active,
  .open > .btn.btn-green-outline.dropdown-toggle {
    background-image: none; }
  .btn.btn-green-outline.disabled, .btn.btn-green-outline.disabled:hover, .btn.btn-green-outline.disabled:focus, .btn.btn-green-outline.disabled.focus, .btn.btn-green-outline.disabled:active, .btn.btn-green-outline.disabled.active, .btn.btn-green-outline[disabled], .btn.btn-green-outline[disabled]:hover, .btn.btn-green-outline[disabled]:focus, .btn.btn-green-outline[disabled].focus, .btn.btn-green-outline[disabled]:active, .btn.btn-green-outline[disabled].active,
  fieldset[disabled] .btn.btn-green-outline,
  fieldset[disabled] .btn.btn-green-outline:hover,
  fieldset[disabled] .btn.btn-green-outline:focus,
  fieldset[disabled] .btn.btn-green-outline.focus,
  fieldset[disabled] .btn.btn-green-outline:active,
  fieldset[disabled] .btn.btn-green-outline.active {
    background-color: white;
    border-color: #739434; }
  .btn.btn-green-outline .badge {
    color: white;
    background-color: #739434; }

/*# sourceMappingURL=flat-buttons.css.map */
